.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: snow;
  color: #69b0f3;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  margin: 1rem;
}

.button:hover,
.button:active {
  background-color: #78c7f5;
  color: white;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #78c7f5;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #60db7f;
}

.bump {
  animation: bump 300ms ease-out;
}
@media (max-width: 820px) {
  .button {
    font-size: 20px;

    width: 80%;
    display: flex;

    justify-content: space-between;
    align-items: center;
  }
  .button span {
    font-size: 10px;
  }
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
