.form {
  text-align: right;

  margin: 1rem;
  display: flex;

  justify-content: center;
  align-items: center;
}
.form input {
  margin-right: 30px;
  color: #389cf3;
  border: 1px solid rgb(66, 55, 170);
  padding: 3px;
  height: 20px;
}
.form button {
  font: inherit;
  cursor: pointer;
  margin-right: 10px;
  background-color: #69b0f3;
  border: none;
  color: white;
  font-size: 11px;
  width: 4rem;
  padding: 5px 0;
  border-radius: 1.25rem;
}

.form button:hover,
.form button:active {
  background-color: #dde4eb;
  border-color: #69b0f3;
  color: #69b0f3;
}
