@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Commissioner", sans-serif;
}

body {
  margin: 0;
  background-color: snow;
}
